<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>$NAME$</Name>
    <Version>$VERSION$</Version>
    <Title>$NAME$ Installer</Title>
    <Publisher>$PUBLISHER$</Publisher>
    <ProductUrl>$URL$</ProductUrl>
    <StartMenuDir>$NAME$</StartMenuDir>
    <TargetDir>@ApplicationsDir@/$PUBLISHER$/$NAME$</TargetDir>
    <RunProgram>@TargetDir@/Launcher</RunProgram>
    <RemoveTargetDir>true</RemoveTargetDir>
</Installer>
